// ------------------------------------ //
// #Colors
// ------------------------------------ //

$gray: #808080;
$brown-brand: #774702;

$names: (gray, brown-brand);
$colors: ($gray, $brown-brand);

@each $name in $names {
    $i: index($names, $name);

    .bg-#{$name} {
        background-color: nth($colors, $i);
    }

    .text-#{$name} {
        color: nth($colors, $i);
    }
}
